.row {
	display: -webkit-flex;
	display: -mox-flex;
	display: flex;
	
	padding: 10px;
	padding-left: 0;
}

.row div {
	background-color: #FF914A;
	background-size: 80% 80%;
	background-position: 50% 90%;
	background-repeat: no-repeat;
	width: 25%;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.rowtitle {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
}
