.row {
	display: -webkit-flex;
	display: -mox-flex;
	display: flex;
	
	padding: 10px;
	padding-left: 0;
}

.row .item {
	width: 25%;
	min-width: 25%;
	max-width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: black;
	text-decoration: none;
}

.row .item div {
	background-color: #FF914A;
	background-size: 70% 70%;
	background-position: 50% 80%;
	background-repeat: no-repeat;
	margin: 5px;
	padding: 7px;
	font-weight: bold;
	text-transform: uppercase;
	/* for long names */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.rowtitle {
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	padding-left: 20px;
}
