Source: intranet
Priority: optional
Maintainer: Dominic Meiser <meiserdo@web.de>
Build-Depends: debhelper (>= 9), libqtwebapp-dev (>=1.7), spis, cmake (>= 3.1), git, realpath
Standards-Version: 3.9.8
Section: unknown
Homepage: https://msrd0.duckdns.org/git/msrd0/KFG-Intranet
Vcs-Git: https://msrd0.duckdns.org/git/msrd0/KFG-Intranet.git
Vcs-Browser: https://msrd0.duckdns.org/git/msrd0/KFG-Intranet

Package: intranet
Architecture: any
Depends: intranet-data (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: KFG-Intranet
 KFG-Intranet

Package: intranet-data
Architecture: all
Description: KFG-Intranet data
 KFG-Intranet data
