body {
    font-family: sans-serif;
    margin: 20px 20%;
	background-color: white;
	/* overlay from the footer - use padding to make sure it's not overriden by @media */
	padding-bottom: 150px;
}
.sideimg {
	position: fixed;
	top: 0;
	background-image: url("kfg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: center;
	width: 20%;
	height: 100%;
	z-index: 0;
}
@media screen and (max-width: 1000px) {
	body {
		margin: 20px;
	}
	.sideimg {
		display: none;
	}
}
@media screen and (max-width: 1300px) and (min-width: 1000px) {
	body {
		margin: 20px 10%;
	}
	.sideimg {
		width: 10%;
	}
}
@media screen and (min-width: 1600px) {
	body {
		margin: 20px 25%;
	}
	.sideimg {
		width: 25%;
	}
}
#content {
    width: 100%;
	min-width: 780px;
	max-width: 900px;
	margin: auto;
	z-index: 1;
}
h1 {
    text-align: center;
    font-size: 3.5em;
}
p {
	text-align: justify;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

#menu {
    background-color: rgba(255, 100, 0, 0.71);
    padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
    display: flex;
    margin: 30px 0;
}
#menu a {
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}

#news h3 {
    text-align: center;
}
#news .entry {
    border: 3px solid rgba(255, 100, 0, 0.71);
    background-color: rgba(255, 100, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
}
#news .entry p {
    text-align: justify;
}
#news .entry .date {
    width: 100%;
    text-align: right;
    font-size: 0.8em;
}
#news .entry .date * {
	vertical-align: middle;
}
#news .entry .date a {
	cursor: pointer;
}
#news .entry .date img {
	width: 24px;
	height: 24px;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.8em;
	background-color: white;
	padding: 10px;
}

#footer p {
	text-align: left;
	padding: 10px;
}
